*{
    margin: 0;
    padding: 0;
}

body{
    background-color: rgb(62, 197, 69);
    color: rgb(45, 100, 28);
    margin: 0px;
    margin:-bottom: 100px;
}

header{
  background-color: rgb(35, 153, 55);
  color: rgb(128, 219, 151);
  text-align: center;
  padding: 20px;

}
 main{
      font-family: Arial, Helvetica, sans-serif;
      font-size: 10px;
      align-items: center;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
 }

.container{

     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     margin-top: 50px;
     width: 100%;
}
#limão{

       width: 100%;
       height: auto;
       border-radius: 10px;
       margin-top: 20px;
}

